<div class="alignleft">
  <script type="text/javascript">
    amzn_assoc_ad_type = "banner";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_placement = "assoc_banner_placement_default";
    amzn_assoc_campaigns = "books";
    amzn_assoc_banner_type = "category";
    amzn_assoc_p = "288";
    amzn_assoc_isresponsive = "false";
    amzn_assoc_banner_id = "1Q1EX20Z2R7864E3D582";
    amzn_assoc_width = "320";
    amzn_assoc_height = "50";
    amzn_assoc_tracking_id = "whatdidilearn-20";
    amzn_assoc_linkid = "946f53f39e6be9a9ab367c7c3be2d6a4";
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div>
