.excerpt {
  .continue-reading {
    float: left;
  }

  .tags {
    float: right;
  }

  clear: both;
}

.tagged-post {
  margin-bottom: 15px;
}

.highlighter-rouge {
  margin: 30px 0;
  font-size: 0.95em;
}

h2 {
  margin-top: 50px;
}

